<h3>Installation</h3>

<p>
  One Way Controls is a straightforward Ember CLI addon, all you have to do is
  run the following command in your Ember project's directory:
</p>

<div>
  <pre>
    $ ember install ember-one-way-controls
  </pre>
</div>

<p>
  That's all!
</p>

<p>
  {{link-to "Next up: Quickstart" "documentation.quickstart"}}
</p>
