<h1>Welcome!</h1>

<div id="current-value">
  {{currentValue}}
</div>

<div id="committed">
  {{committed}}
</div>

{{one-way-input
  id="one-way-input"
  value=currentValue
  update=(action (mut currentValue))
  onenter=(action "commit")
}}

{{outlet}}