<h1>Ember One Way Controls</h1>

<nav>
  <ul>
    <li>{{link-to "Documentation" "documentation"}}</li>
    <li>{{link-to "About" "index"}}</li>
    <li>
      <a href="https://github.com/DockYard/ember-one-way-controls">GitHub</a>
    </li>
  </ul>
</nav>

{{outlet}}
