<h2>
  One Way Controls provides a simple and consistent API to add form controls
  to your app
</h2>

<section>
  <h3>Data Down Actions Up</h3>
</section>

<section>
  <h3>Smooth consistent API</h3>
</section>
